<section class="banner">
    <app-menu></app-menu>
    <div id="homeBanner" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#homeBanner" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#homeBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#homeBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item  active" data-bs-interval="10000">
                <img src="../../../assets/banner1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row banner1" style="padding-bottom: 5vw;">
                        <div class="col-md-6">
                            <img class="banner-img text-left align-top" src="../../../assets/logo/logo-light.png" alt=""
                                srcset="">
                        </div>
                        <div class="col-md-6 p-4">
                            <span #writerTitle1 class="primary-color">Dryad</span> is the new digital asset with a
                            network of businesses
                            <br><span #writerTitle2 class="primary-color">eco-responsible</span>
                            <br>
                            <p>
                                <br>
                                Our projects are focused on reducing the damage generated to the environment and
                                adding
                                to the transformation of the world based on the Sustainable Development Goals.
                            </p>
                            <br>
                            <button class="btn btn-xlg rounded-5 btn-primary btn-fill">Buy Tokens</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <img src="../../../assets/banner1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="margin-bottom:5vw;">
                    <div class="row">
                        <div class="title text-center col-sm-12">
                            The Crownsale phase 1 will start in:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            <circle-progress [maxPercent]="365" [percent]="countdown.D"
                                [title]="[countdown.D.toString()]" [subtitle]="['Days']"
                                [animationDuration]="300"></circle-progress>

                        </div>
                        <div class="col-md-3">

                            <circle-progress [maxPercent]="24" [percent]="countdown.H"
                                [title]="[countdown.H.toString()]" [subtitle]="['Hours']"
                                [animationDuration]="300"></circle-progress>
                        </div>

                        <div class="col-md-3">

                            <circle-progress [maxPercent]="60" [percent]="countdown.M"
                                [title]="[countdown.M.toString()]" [subtitle]="['Minutes']"
                                [animationDuration]="300"></circle-progress>
                        </div>

                        <div class="col-md-3">

                            <circle-progress [maxPercent]="60" [percent]="countdown.S"
                                [title]="[countdown.S.toString()]" [subtitle]="['Seconds']"
                                [animationDuration]="300"></circle-progress>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <br>
                            <h5 class="text-end p-1">Total Supply:</h5>
                        </div>
                        <div class="col-md-10">
                            <br>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped"
                                    [style.background-color]="'rgb(76,165, 133)'" role="progressbar"
                                    aria-label="Success striped" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 p-3">
                            <br>
                            <button style="padding: 0.5vw 1vw 0.5vw 1vw;"
                                class="btn btn-xlg rounded-5 btn-primary btn-fill">Buy Tokens</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <img src="../../../assets/banner1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row banner1" style="padding-bottom: 5vw;">
                        <div class="col-md-6">
                            <img class="banner-img" src="../../../assets/logo/logo-light.png" alt="" srcset="">
                        </div>
                        <div class="col-md-6 p-4">
                            One&nbsp;<span class="primary-color">Dryad,</span>
                            <h1>may be of the difference.</h1>
                            Many&nbsp;
                            <span class="primary-color">Projects</span><br>
                            <h1>to make changes to improve the health of our planet.</h1>
                            <p>
                                <br>
                                Every dollar collected with the ICO will be channelled to environmental projects
                                whose
                                benefits will not only be at the environmental level but will be partly deposited to
                                give liquidity to the currency.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white-pappe-section row p-5">
    <div class="col-md-4 col-sm-12">
        <div class="card p-5 d-flex align-items-center">
            <img src="../../../assets/icons/white-paper.svg" class="card-img-top w-25" alt="...">
            <div class="card-body">
                <p class="card-text">Read our</p>
                <h5 class="card-title">White Paper</h5>
                <a href="#" class="btn btn-primary mt-4">Open Whitepaper</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card p-5 d-flex align-items-center">
            <img src="../../../assets/icons/iconodyddollar.png" class="card-img-top w-25" alt="iconodyddollar">
            <div class="card-body">
                <p class="card-text">1 DYD token price</p>
                <h5 class="card-title">0.6 USD PHASE 1 ICO</h5>
                <a href="#" class="btn btn-primary mt-4">Buy Tokens</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card p-5 d-flex align-items-center">
            <img src="../../../assets/icons/team.svg" class="card-img-top w-25" alt="white-paper">
            <div class="card-body">
                <h5 class="card-title">0</h5>
                <p class="card-text">ICO Participants</p>
                <a href="#" class="btn btn-primary mt-4">Join Dyad Telegram</a>
            </div>
        </div>
    </div>
</section>
<section class="projects-section row">
    <div style="background-color: rgb(0,107,104)" class="card col-md-4 col-sm-12 p-5 ">
        <img src="../../../assets/icons/panicon.png" class="card-img-top w-25" alt="...">
        <div class="card-body">
            <h5 class="card-title">Carbon Credits</h5>
        </div>
    </div>
    <div style="background-color: rgb(0,175,170)" class="card col-md-4 col-sm-12 p-5 ">
        <img src="../../../assets/icons/energyicon.png" class="card-img-top w-25" alt="...">
        <div class="card-body">
            <h5 class="card-title">Solid waste management plant</h5>
        </div>
    </div>
    <div style="background-color: rgba(76,165,133)" class="card col-md-4 col-sm-12 p-5 ">
        <img src="../../../assets/icons/factoryicon.png" class="card-img-top w-25" alt="...">
        <div class="card-body">
            <h5 class="card-title">Environmental technology development</h5>
        </div>
    </div>
</section>
<section class="choose-section text-center p-5" style="background-color: rgb(182, 206, 208);">
    <div class="row">
        <div class="title col-md-12 text-black text-center">
            Dryad
        </div>
    </div>
    <div class="row">
        <div class="subtitle text-black col-md-12 black text-center">
            Why choosing us?
        </div>
    </div>
    <div class="row ms-5 p-5">
        <div class="col-sm-12 col-md-5">
            <img src="../../../assets/dyd.png" alt="dyd" style="margin-top: -3vw;" class="w-100">
        </div>
        <div class="col-sm-12 col-md-5 p-5">
            <span style="text-indent: 2vw;" class="text-left text-black">
                We are motivated by the transformation to a responsible and sustainable world. Our currency enters
                the digital market with strategies designed to grow and remain supporting the recovery and
                protection of the environment. Dryad is the new currency for transactions around the world and is a
                cryptocurrency with a business model that supports projects that respond to sustainable development
                objectives. We offer security, transparency and good business!
            </span>
        </div>
    </div>
</section>
<section class="screen-section bg-white d-none d-md-block" style="height:32vw;">
    <div class="col-md-12 d-none d-md-block text-center">
        <img style="z-index: 2;" class="w-50" src="../../../assets/pc.png" alt="pc" srcset="">
    </div>
</section>
<section style="z-index: 1;" class="info-section" style="padding:7vw 8vw 3vw 8vw">
    <div class="row">
        <div class="title col-md-12 text-center">
            We want to create a token that catapults projects. Basically, the token will feed projects and, in turn,
            they will feed the token. And we won’t stop there, we have plans to grow the technology by experimenting
            with blockchain.
        </div>
    </div>
</section>
<section class="blockchain-section text-center pt-4">
    <div class="row">
        <div class="title col-md-12 text-black text-center">
            Our Token
        </div>
    </div>
    <div class="row">
        <div class="subtitle col-md-12 text-black text-center">
            What is Dryad Token?
        </div>
    </div>
    <div class="row">
        <div class="info col-md-12 black text-center">
            Dryad is a token, based on the Binance Smart Chain technology. It is the core asset of the Dryad Projects.
        </div>
    </div>
    <div class="row estructura-blockchain">
        <div class="col-sm-12">


            <div class="row">
                <div class="left-containt-blockchain col-sm-12 col-md-6">
                    <div class="num-blockchain">
                        01
                    </div>
                    <div class="text-left text-black w-75 text-blockchain">
                        <h3 class="text-black">A 100% project token</h3>
                        The objective of the token is to finance future projects betting on green technologies and
                        create
                        research projects to improve them.
                    </div>
                </div>
                <div class="right-containt-blockchain col-sm-12 col-md-6">
                    <div class="num-blockchain">
                        02
                    </div>
                    <div class="text-right text-black w-75 text-blockchain">
                        <h3 class="text-black">A 100% project token</h3>
                        The objective of the token is to finance future projects betting on green technologies and
                        create
                        research projects to improve them.
                    </div>
                </div>
            </div>
            <div class="text-right text-black  row blockchain-background">
                <div class="col-sm-12">
                    <img src="../../../assets/2.png" alt="" srcset="">
                </div>
            </div>
            <div class="row">
                <div class="left-containt-blockchain col-sm-12 col-md-6">
                    <div class="num-blockchain">
                        03
                    </div>
                    <div class="text-left text-black w-75 text-blockchain">
                        <h3 class="text-black">A 100% project token</h3>
                        The objective of the token is to finance future projects betting on green technologies and
                        create
                        research projects to improve them.
                    </div>
                </div>
                <div class="right-containt-blockchain col-sm-12 col-md-6">
                    <div class="num-blockchain">
                        04
                    </div>
                    <div class="text-right text-black w-75 text-blockchain">
                        <h3 class="text-black">A 100% project token</h3>
                        The objective of the token is to finance future projects betting on green technologies and
                        create
                        research projects to improve them.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="promo-section p-5">
    <div class="row">
        <div class="title col-md-12 text-black text-center">
            Dryad
        </div>
    </div>
    <div class="row">
        <div class="subtitle col-md-12 text-black text-center">
            Token prices will be divided into two phases
        </div>
    </div>
    <div class="row prices text-center">
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"
            data-wow-offset="0">
            <div class="single-pricing single-pricing-white">
                <div class="price-active bg-warning p-1">
                    <h6>ACTIVO</h6>
                </div>
                <div class="price-head">
                    <h2>1 DYD</h2>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <span class="price-label">Phase 1</span>
                <h1 class="price">0.6 USD</h1>
                <h5>1 mar to 5 jul</h5>
                <ul>
                    <li>Softcap: 5.000.000 USD</li>
                    <li>Hardcap 15.000.000 USD</li>
                </ul>
                <a href="#">Buy Tokens</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s"
            data-wow-offset="0">
            <div class="single-pricing single-pricing-black">
                <div class="price-head">
                    <h2>1 DYD</h2>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <span class="price-label">Phase 2</span>
                <h1 class="price">0.8 USD</h1>
                <h5>10 jul to 5 dec</h5>
                <ul>
                    <li>Softcap: 1.000.000 USD</li>
                    <li>Hardcap 5.000.000 USD</li>
                </ul>
                <a href="#">Buy Tokens</a>
            </div>
        </div><!--- END COL -->
    </div>
</section>
<section class="bg-pantone p-5">
    <div class="row p-5">
        <div class="col-md-1 col-sm-6 p-5">
            <div class="align-middleinput-group">
                <i style="font-size: 3vw;background-color:white;color:rgb(76,165, 133);border-radius: 999px;border: 1px solid white;"
                    class="p-3 bi-envelope"></i>
            </div>
        </div>
        <div style="font-size:1.5vw;" class="col-md-5 col-sm-6 p-5">
            Keep up to date with our progress.
            Subscribe for e-mail updates.
        </div>
        <div class="col-md-6 col-sm-12 p-5">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="fulanito" aria-label="Username">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" placeholder="example.com" aria-label="Server">
            </div>

        </div>
    </div>
</section>
<section class="graphics" style="padding: 8vw 2vw 8vw 2vw;">
    <div class="row mt-4">
        <div class="col-md-4 text-center p-5" style="margin-top: 6vw;">
            <p class="text-black">
                In order to make DYD token distribution process more efficient, the DYD price will now be linked to USD:
            </p>
            <span class="title text-black">
                1 DYD= 0.6 USD (Phase 1)
            </span>

            <button class="btn btn-lg btn-fill btn-primary mt-5">Buy Tokens</button>
        </div>
        <div class="col-md-4 text-center">
            <highcharts-chart [Highcharts]="HighchartsTokenDistribution" [options]="pieTokenDistribution"
                style="width: 100%; height: 30vw; display: block;">
            </highcharts-chart>

        </div>
        <div class="col-md-4 text-center">
            <highcharts-chart [Highcharts]="HighchartsTokenDistribution" [options]="pieTokenDistribution"
                style="width: 100%; height: 30vw; display: block;">
            </highcharts-chart>
        </div>
    </div>
</section>

<section style="background-position: center;background-image: url('../../../assets/seccionforest.jpeg');" class="roadmap-section pb-2 p-5">
    <div class="row">
        <div class="title col-md-12 text-center">
            Roadmap
        </div>
    </div>
    <div class="row">
        <div class="subtitle col-md-12 text-center">
            Our Strategy and Project Plan
        </div>
    </div>
    <div class="row p-5">
        <div class="col-md-12">
            <ul class="timeline">
                <li class="timeline-item">
                    <div class="timeline-badge"><i class="fa fa-home"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Page Launch</h4>
                            <p><small class="text-muted"><i class="fa fa-calendar-check-o"></i> February 2023</small></p>
                        </div>
                        <div class="timeline-body">
                         
                        </div>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds 2</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois
                                divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
                                nisi eros gostis.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds 3</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois
                                divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
                                nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta
                                quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim.
                                Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois
                                divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
                                nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta
                                quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim.
                                Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>

                        </div>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Mussum ipsum cacilds 4</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via
                                    Twitter</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois
                                divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
                                nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta
                                quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim.
                                Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="buy-now bg-pantone p-5 text-center">
    <div class="row p-5">
        <div class="col-md-6 col-sm-12 p-2">
            <span class="fs-4">
                Buy your Dryad now. Be one of the first to join us on this true path.
            </span>
            <span class="fw-bold fs-4">Phase 1 0.6 USD</span>
        </div>
        <div class="col-md-6 col-sm-12 p-2">
            <button class="btn btn-xlg rounded-5 btn-primary btn-fill">Buy Tokens</button>
        </div>
    </div>
</section>
<section class="team p-5">
    <div class="row">
        
    </div>
</section>