/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Akzidenz;
    src: url(assets/font/Akzidenz-grotesk-bold.ttf);
}

* {
    font-family: Akzidenz;
    color: white;
}

.btn-primary {
    background-color: rgb(0, 175, 170);
    border-color: rgb(76, 165, 133);
}

.btn-primary:hover {
    background-color: rgb(0, 107, 104);
    border-color: rgb(76, 165, 133);
}
.primary-color{
    color:rgb(0, 175, 170);
}
.btn-xlg{
    font-size: 2vw;
    padding: 0.1vw 1vw 0.1vw 1vw;
}